In [37]:
a = [1,1,2,23,423,43,33,4,346,4,645,3,2,22,3,42]
list = set(a)

print(list)


# dá pra pegar e fazer isso tbn ao invés de rodar um for, no caso a gente só pega o valor da lista, põe em array e dá um sort()
arr = [list]
arr.sort()
arr

{1, 2, 33, 4, 645, 3, 423, 42, 43, 22, 23, 346}

[{1, 2, 3, 4, 22, 23, 33, 42, 43, 346, 423, 645}]

Lembrar que a lista não repete os números

In [2]:
dic = {}
for i in range(10):
    dic[i] = i ** 2
print(dic)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Lembrar que o dicionário, quando não tem a posição que você coloca entre chaves, ele cria a posição

In [3]:
array = [1,2,3,4,5,6,7,8,9]
for i in range(len(array)-1,0,-1):
  print("Posição {} = {}".format(i,array[i]))

Posição 8 = 9
Posição 7 = 8
Posição 6 = 7
Posição 5 = 6
Posição 4 = 5
Posição 3 = 4
Posição 2 = 3
Posição 1 = 2

Com o for dá pra ir contando ao contrário

In [24]:
aposta_mega_sena = [6, 14, 19, 20, 39, 53]
del aposta_mega_sena[0]
del aposta_mega_sena[0]
aposta_mega_sena

[19, 20, 39, 53]

Dá pra deletar uma posição de uma lista usando o del

In [34]:
meses = ("janeiro","fevereiro","março","abril","maio","junho","julho","agosto","setembro","outubro","novembro","dezembro")
posição = "primeiro","segundo","terceiro","quarto","quinto","sexto","sétimo","oitavo","nono","décimo","décimo primeiro","décimo segundo"
escolha = input("Escolha um mês:")
print(escolha,"é o",posição[meses.index(escolha)],"mês do ano" )

janeiro é o primeiro mês do ano

isso é legal quando queremos associar dados entre duas listas e vetores associando-os pelo index